* {box-sizing: border-box;}
html{background-color: rgb(243,241,242);}
body{padding: 0; margin: 0; border: 0;}
.left{width: 49%; display: inline-block;}
.right{width: 49%; display: inline-block; text-align: right;}
header{background-color: white; height: 56px;}
header table{width: 100%; height: 100%;}
header table tr td{vertical-align: middle;}
#header-title{width: 300px; border-right: 1px solid rgb(221,222,226); padding-left: 15px;}
#header-search{text-align: center;}
#header-donate{padding-right: 40px; text-align: right;}
footer{color: white; padding: 20px 50px 20px 50px;}
footer table{width: 100%; height: 100%;}
footer table:first-child {border-bottom: 1px solid rgb(208,208,208); padding-bottom: 10px;}
footer table:first-child tbody tr td{vertical-align: top;}
footer table:first-child tbody tr td:not(:nth-child(4)){width: 150px;}
footer table:last-child {padding-top: 20px;}
footer table:last-child tbody tr td{width: 50%;}
footer table:last-child tbody tr td:last-child{text-align: right;}

#donate-middle{padding: 35px 20px 90px 20px; text-align: center}
#donate-message{display: inline-block; vertical-align: top; max-width: 650px; background-color: white; padding: 20px; margin-right: 15px;}
#donate-pay{display: inline-block; vertical-align: top; max-width: 315px; background-color: white;padding: 20px; margin-left: 15px;}

h1{color: rgb(241,75,35); font-size: 25px;}
h2{color: rgb(120,120,120); font-size: 15px;}
