{% load staticfiles %}
<footer>
<table>
<tbody>
<tr>
    <td><div>
        <div><a><b>About us</b></a></div>
        <div><a>Contact</a></div>
        <div><a>Team</a></div>
        <div><a>Donate</a></div>
        <div><a>Resources</a></div>
        <div><a>What is GeoMakers?</a></div>
    </div></td>
    <td><div>
        <div><a><b>Contributors</b></a></div>
        <div><a>GeoDreamers</a></div>
        <div><a>GeoMakers</a></div>
        <div><a>GeoBoosters</a></div>
        <div><a>GeoContests</a></div>
    </div></td>
    <td><div>
        <div><a><b>Help</b></a></div>
        <div><a>Terms of Use</a></div>
        <div><a>Private Policy</a></div>
        <div><a>Support</a></div>
    </div></td>
    <td></td>
    <td><div>
        <div><a><b>Connect</b></a></div>
        <div><a><img src="{% static 'skyshaker/img/social/facebook.png'%}"></img>Facebook</div></a>
        <a href="https://www.twitter.com/geomakers"><div><img src="{% static 'skyshaker/img/social/twitter.png'%}"></img>Twitter</div></a>
         <div><img src="{% static 'skyshaker/img/social/instagram.png'%}"></img><a>Instagram</a></div>
        <div><img src="{% static 'skyshaker/img/social/linkedin.png'%}"></img><a>LinkedIn</a></div>
        <div><img src="{% static 'skyshaker/img/social/youtube.png'%}"></img><a>YouTube</a></div>
        <div><img src="{% static 'skyshaker/img/social/vine.png'%}"></img><a>Vine</a></div>
    </div></td>
</tr>
</tbody>
</table>
<table><tbody><tr>
    <td>GEOMAKERS</td>
    <td>&copy; 2014 GeoMakers</td>  
</tr></tbody></table>
</footer>
