{% load staticfiles %}
        <article id="footer" class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-2">
                    <h4 class="footer-text">About</h4>
                    <h5 class="footer-text">Contact</h5>
                    <a href={% url 'team' %}><h5 class="footer-text">Team</h5></a>
                    <a href={% url 'donate' %}><h5 class="footer-text">Donate</h5></a>
                    <a href={% url 'resources' %}><h5 class="footer-text">Resources</h5></a>
                    <a href={% url 'index' %}><h5 class="footer-text">What is GeoMakers?</h5></a>
                </div>
                <div class="col-sm-2">
                    <a href={% url 'contribute' %}><h4 class="footer-text">Contributors</h4></a>
                    <a href={% url 'contribute' %}><h5 class="footer-text">Geo Dreamers</h5></a>
                    <a href={% url 'contribute' %}><h5 class="footer-text">Geo Makers</h5></a>
                    <a href={% url 'contribute' %}><h5 class="footer-text">Geo Boosters</h5></a>
                    <a href={% url 'contribute' %}><h5 class="footer-text">Geo Contests</h5></a>
                </div>
                <div class="col-sm-2">
                    <h4>Help</h4>
                    <h5>Terms of Use</h5>
                    <h5>Privacy Policy</h5>
                    <h5>Support</h5>
                </div>
                <div class="col-sm-2">
                    <h4>Connect</h4>
                    <a href="https://www.facebook.com/GeoMakerRevolution"><h5 class="footer-text">Facebook</h5></a>
                    <a href="https://twitter.com/geomakers"<h5 class="footer-text">Twitter</h5></a>
                    <a href="https://instagram.com/geomakers"><h5 class="footer-text">Instagram</h5></a>
                    <a href="https://www.linkedin.com/company/geomakers"><h5 class="footer-text">LinkedIn</h5></a>
                    <h5 class="footer-text">YouTube</h5>
                    <a href="https://vine.co/u/1081304182532861952"><h5 class="footer-text">Vine</h5></a>
                </div>
                <div class="col-sm-offset-1 col-sm-10" style="border-top:1px solid white">
                    <h4>GeoMakers copyright 2014</h4>
                </div>
            </div>
        </article>
