{% extends "skyshaker/base.html" %}
{% load staticfiles %}
{% block content %}
<div id="geoboosts-middle">
<article id="banner">
    <div class="row">
        <div class="col-sm-12">
            <h1>GeoBoosters</h1>
            <h3>Lorem ipsum dolor sit amet</h3>
        </div>
    </div>
</article>
<article id="geoboosts-gallery">
    <section id="demo">
        <article class="white-panel">
            <div id="newproject"><h1><a href="/contribute?type=GeoBoost">Start a new GeoBooster Activity</a></h1></div>
        </article>
        {% for geoboost in geoboosts %}
        <article class="white-panel">
            {% if geoboost.images.0.image.url %}<img class="gb-img" src="{{ geoboost.images.0.image.url }}" alt="ALT">{% endif %}
            <h1><a href="#">{{ geoboost.title }}</a></h1>
            <h5>{% if geoboost.owner.first_name or geoboost.owner.last_name %}{% if geoboost.owner.first_name %}{{ geoboost.owner.first_name }}{% endif %}{% if geoboost.owner.last_name %}{{ geoboost.owner.last_name }}{% endif %}{% elif geoboost.owner.username %}{{geoboost.owner.username}}{% endif %}</h5>
            {% if geoboost.abstract %}<p>{{geoboost.abstract}}</p>{% endif %}
            <div class="row">
                <div class="col-sm-offset-3">
                    <button class="btn btn-make btn-md"> 15 likes</button>
                    <button class="btn btn-boost btn-md"> boost</button>
               </div>
            </div>
        </article>
        {% endfor %}
</section>
</article>
</div><!-- end geoobosts-middle -->
<script src="js/pinterest_grid.js"></script>
<script>
$(document).ready(function() {
$('#demo').pinterest_grid({
    no_columns: 4,
    padding_x: 10,
    padding_y: 10,
    margin_bottom: 50,
    single_column_breakpoint: 700
    });
});
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}

