{% extends "skyshaker/base.html" %}
{% load staticfiles %}
{% block content %}


<div id="geodreams-middle">
    <article id="banner">
        <div class="row">
            <div class="col-sm-12">
                <h1>GeoDreams</h1>
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>
         </div>
    </article>
    <article id="geodream-gallery" class="container-fluid">
	    <div class="row">
            <div class="timeline-centered">
                <article class="timeline-entry begin">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i> +
                        </div>
                        <div class="timeline-label">
                            <h2><a href="/contribute?type=GeoDream"><strong>Share your GeoDream</strong></a></h2>
                        </div>
                    </div>
                </article>

                {% for geodream in geodreams %}                

                {% if geodream.images.all.0.image.url %}  
                <!-- geodream with photo -->
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-warning">
                            <i class="entypo-camera"></i>
                        </div>
                        <div class="timeline-label">
                            <h2><a href="#"><strong>{% if geodream.owner.first_name or geodream.owner.last_name %}{% if geodream.owner.first_name %}{{ geodream.owner.first_name }}{% endif %}{% if geodream.owner.last_name %}{{ geodream.owner.last_name }}{% endif %}{% elif geodream.owner.username %}{{geodream.owner.username}}{% endif %}</strong></a> <span><small>3 hours ago</small></span></h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{{ geodream.images.all.0.image.url }}" class="img-responsive img-rounded full-width">
                                </div>
                                <div class="col-sm-8">
                                    <blockquote>
                                        <h1>{{ geodream.title }}</h1>
                                        {% if geodream.abstract %}<i>{{geodream.abstract}}</i>{% endif %}
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-9">
                                <button class="btn btn-dream btn-md"> 15 likes</button>
                                <button class="btn btn-make btn-md"> make</button>
                                <button class="btn btn-boost btn-md"> boost</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% else %}



                <!-- geodream text only -->
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-success">
                            <i class="entypo-feather"></i>
                        </div>
                        <div class="timeline-label">
                            <h2>
                                <a href="profile.html"><strong>
                                    {% if geodream.owner.first_name or geodream.owner.last_name %}{% if geodream.owner.first_name %}{{ geodream.owner.first_name }}{% endif %}{% if geodream.owner.last_name %}{{ geodream.owner.last_name }}{% endif %}{% elif geodream.owner.username %}{{geodream.owner.username}}{% endif %}
                                </strong></a>
                                <span><small>{{ geodream.updated_at|timesince }} ago</small></span>
                            </h2>
                            <blockquote>
                                <a href="geodream_info.html">
                                    <h1>{{ geodream.title }}</h1>
                                    {% if geodream.abstract %}<i>{{geodream.abstract}}</i>{% endif %}
                                </a>
                            </blockquote>
                            <div class="row">
                                <div class="col-sm-offset-9">
                                <button class="btn btn-dream btn-md" data-toggle="tooltip" data-original-title="Coming soon."> 15 likes</button>
                                <button class="btn btn-make btn-md" data-toggle="tooltip" data-original-title="Coming soon."> make</button>
                                <button class="btn btn-boost btn-md" data-toggle="tooltip" data-original-title="Coming soon."> boost</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% endif %}

                
                {% endfor %}

                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i> +
                        </div>
                        <div class="timeline-label">
                            <h2><a href="geodream_form.html"><strong>Share your GeoDream</strong></a></h2>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </article>
</div> <!-- end geodreams-middle -->



{% endblock %}
