{% extends "skyshaker/base.html" %}
{% block content %}
{% load staticfiles %}
<div id="georecipes-middle">    
    <article id="banner">
        <div class="row">
            <div class="col-sm-12">
                <h1>GeoMakers</h1>
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>
        </div>
    </article>
    <article id="geodream-gallery">
        <section id="demo">
            <article class="white-panel">
                <div id="newrecipe"><h1><a href="geomake_form.html">Start a new GeoMaker Recipe</a></h1></div>
            </article>
            {% for georecipe in georecipes %}
            <article class="white-panel"> <img class="georecipe-img" src="{% if georecipe.images.all.0.image.url %}{{ georecipe.images.all.0.image.url }}{% else %}{% static 'skyshaker/img/project/GeoRecipe.png' %}{% endif %}" alt="ALT">
                <h1><a href={% url 'project' georecipe.slug %}></a></h1>
                <h5>{{ georecipe.title }}</h5>
                {% if georecipe.abstract %}<p>{{georecipe.abstract}}</p>{% endif %}
                <div class="row">
                    <div class="col-sm-offset-3">
                        <button class="btn btn-make btn-md" data-toggle="tooltip" data-original-title="Coming soon."> 15 likes</button>
                        <button class="btn btn-boost btn-md" data-toggle="tooltip" data-original-title="Coming soon."> boost</button>
                    </div>
                </div>
            </article>
            {% endfor %}
        </section>
    </article>
</div>
{% endblock %}

