<ul class="nav nav-tabs" role="tablist">
    {% if user.is_authenticated %}<li class="active"><a href={% url 'profile' user.username %} >Your Profile</a></li>{% endif %}
    {% if user.is_authenticated %}<li><a href={% url 'contribute' %}>Contribute</a></li>{% endif %}
    <!--
    <li><a href={% url 'contribute' %} role="tab" data-toggle="tab">GeoDreamer</a></li>
    <li><a href={% url 'contribute' %} role="tab" data-toggle="tab">GeoMaker</a></li>
    <li><a href={% url 'contribute' %} role="tab" data-toggle="tab">GeoBooster</a></li>
    -->
    <li><a href={% url 'resources' %}>Resources</a></li>
    <li><a href={% url 'makerspaces' %}>MakerSpaces</a></li>
    {% if user.is_authenticated %}<li><a href={% url 'logout' %}>Logout</a></li>{% else %}<li><a href={% url 'login' %}>Login</a></li>{% endif %}
</ul>
