{% extends "skyshaker/base.html" %}
{% block content %}
        <article>
            <div class="jumbotron" id="home-jumbotron">
                <div class="row">
                    <div class="col-sm-9">
                        <iframe src="http://player.vimeo.com/video/100365662?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-sm btn-block">Start Here</button>
                        <!--<button class="btn btn-sm btn-fb btn-block">Sign in with Facebook</button>
                        <button class="btn btn-sm btn-go btn-block">Sign in with Google</button>-->
                        <a href={% url 'register' %}><button class="btn btn-sm btn-block">Sign up with e-mail</button></a>
                        <br/>
                        <h5>By clicking "Sign up", you agree to our Terms of Service and Privacy Policy.</h5>
                    </div>
                </div>
            </div>
        </article>
    
        <article id="services" class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-block service-block-dream">
                        <img class="service-icon" src="../static/skyshaker/bootstrap/img/geodreamer_NOT-FINAL.png" />
                        <p>Dream. Invent. Think. Brainstorm.<br/> This is where you dream of ideas for others to build.</p>
                        <button class="btn btn-dream btn-md btn-block"> DREAM</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-block service-block-make">
                        <img class="service-icon" src="../static/skyshaker/bootstrap/img/geomaker_NOT-FINAL.png" />
                        <p>Blueprints. Schematics. Drawings.<br/> Instructions. 3D Print. Make GeoDreams a physical reality.</p>
                        <button class="btn btn-make btn-md btn-block"> MAKE</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-block service-block-boost">
                        <img class="service-icon" src="../static/skyshaker/bootstrap/img/geobooster_NOT-FINAL.png" />
                        <p>Download. Collect. Investigate.<br/> Boost and share data of your surroundings or universe.</p>
                        <button class="btn btn-boost btn-md btn-block"> BOOST</button>
                    </div>
                </div>
            </div>
        </article>
        
        <article id="popular" class="container-fluid">
            <div class="row">
                <h2>Popular GeoProjects</h2>
                <div id="gallery">
                    <div class="col-sm-3">
                        <ul class="contentcard">
                            <li class="card">
                                <ul class="cardContainer">
                                    <li class="photo">
                                        <img src="../static/skyshaker/bootstrap/img/home_bg_image.jpg" />
                                    </li>
                                    <li class="price"><p>Balloon Project</p></li>
                                    <li>
                                        <ul class="options">
                                            <li><span>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. </span></li>
                                            <li>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span>(124)</span>
                                            </li>
                                            <li>556 <span>builds</span></li>
                                            <li>4,100 <span>shoutouts</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> <!-- End ul#plans -->
                    </div>
                    <div class="col-sm-3">
                        <ul class="contentcard">
                            <li class="card">
                                <ul class="cardContainer">
                                    <li class="photo">
                                        <img src="../static/skyshaker/bootstrap/img/home_bg_image.jpg" />
                                    </li>
                                    <li class="price"><p>Balloon Project</p></li>
                                    <li>
                                        <ul class="options">
                                            <li><span>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. </span></li>
                                            <li>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span>(124)</span>
                                            </li>
                                            <li>556 <span>builds</span></li>
                                            <li>4,100 <span>shoutouts</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> <!-- End ul#plans -->
                    </div>
                    <div class="col-sm-3">
                        <ul class="contentcard">
                            <li class="card">
                                <ul class="cardContainer">
                                    <li class="photo">
                                        <img src="../static/skyshaker/bootstrap/img/home_bg_image.jpg" />
                                    </li>
                                    <li class="price"><p>Balloon Project</p></li>
                                    <li>
                                        <ul class="options">
                                            <li><span>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. </span></li>
                                            <li>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span>(124)</span>
                                            </li>
                                            <li>556 <span>builds</span></li>
                                            <li>4,100 <span>shoutouts</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> <!-- End ul#plans -->
                    </div>
                    <div class="col-sm-3">
                        <ul class="contentcard">
                            <li class="card">
                                <ul class="cardContainer">
                                    <li class="photo">
                                        <img src="../static/skyshaker/bootstrap/img/home_bg_image.jpg" />
                                    </li>
                                    <li class="price"><p>Balloon Project</p></li>
                                    <li>
                                        <ul class="options">
                                            <li><span>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. </span></li>
                                            <li>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                                <span>(124)</span>
                                            </li>
                                            <li>556 <span>builds</span></li>
                                            <li>4,100 <span>shoutouts</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> <!-- End ul#plans -->
                    </div>
                </div>
            </div>
        </article>
{% endblock %}
