{% extends "skyshaker/base.html" %}
{% block content %}
<div id="register-middle">
{% if registered %}
Registration Successful!!

We will redirect you to the homepage in 3 seconds.

<script>
    window.setTimeout(function(){window.location.href="/";}, 3000);
</script>
<a href="/skyshaker/">Return to the homepage</a>
{% else %}

<form id="user_form" method="post" action="/skyshaker/register/"
    enctype="multipart/form-data">

    {% csrf_token %}

    <div class="register-part">
        <label for="id_username">Username:</label>
        <div class="help-block">Your username must be less than 30 characters and contain only letters, digits, @, ., +, -, and _.</div>
        <input id="id_username" maxlength="30" name="username" type="text" />
    </div>
    <div class="register-part">
        <label for="id_email">Email address:</label>
        <input id="id_email" maxlength="254" name="email" type="email" />
    </div>
    <div class="register-part">
        <label for="id_password">Password:</label>
        <input id="id_password" name="password" type="password" />
    </div>
    <div class="register-part">
        <label for="id_description">Description:</label>
        <textarea id="id_description" name="description" rows="10"></textarea>
    </div>
    <div class="register-part">
        <label for="id_location">Location:</label>
        <input id="id_location" maxlength="200" name="location" type="text" />
    </div>
    <div class="register-part">
        <label for="id_facebook">Facebook:</label>
        <input id="id_facebook" maxlength="200" name="facebook" type="text" />
    </div>
    <div class="register-part">
        <label for="id_twitter">Twitter:</label>
        <input id="id_twitter" maxlength="200" name="twitter" type="text" />
    </div>
    <div class="register-part">
        <label for="id_linkedin">Linkedin:</label>
        <input id="id_linkedin" maxlength="200" name="linkedin" type="text" />
    </div>
    <div class="register-part">
        <label for="id_picture">Picture:</label>
        <input id="id_picture" name="picture" type="file" />
    </div>
    <div class="register-part">
        <input type="submit" name="submit" value="Register" />
    </div>
</form>
{% endif %}
</div>
{% endblock %}
