* {box-sizing: border-box; -moz-box-sizing: border-box;}
html{background-color: rgb(245,245,245);}
body{padding: 0; margin: 0; border: 0;}
.left{width: 49%; display: inline-block;}
.right{width: 49%; display: inline-block; text-align: right;}
header{background-color: white; height: 56px; border-bottom: 1px solid rgb(204,204,204);}
header table{width: 100%; height: 100%;}
header table tr td{vertical-align: middle;}
#header-title{width: 300px; border-right: 1px solid rgb(221,222,226); padding-left: 15px;}
#header-search{text-align: center;}
#header-donate{padding-right: 40px; text-align: right;}
#gm-navbar-brand img{height: 50px;}

#header2{height: 40px; background-color: rgb(247,247,247); border-bottom: 1px solid rgb(204,204,204); text-align: center;}
#header2 a{display: inline-block; height: 40px; cursor: pointer;}
#header2 a:hover {border-bottom: 1px solid rgb(49,143,239);}
#header2 a div{font-size: 14px; padding-top: 13px; margin:0px 20px 0px 20px;}


footer{color: white; padding: 20px 50px 20px 50px; background-color: rgb(138,121,11);}
footer table{width: 100%; height: 100%;}
footer table:first-child {border-bottom: 1px solid rgb(208,208,208); padding-bottom: 10px;}
footer table:first-child tbody tr td{vertical-align: top;}
footer table:first-child tbody tr td:not(:nth-child(4)){width: 150px;}
footer table:last-child {padding-top: 20px;}
footer table:last-child tbody tr td{width: 50%;}
footer table:last-child tbody tr td:last-child{text-align: right;}
footer table td div img{height: 25px;}
.footer-text{color: white;}
#footer input{display:none;}

@media (max-width: 900px) {
#footer{text-align: center;}
#footer label{cursor: pointer;}
[name=footer-button] ~ a{display: none;}
[name=footer-button]:checked ~ a{display: block;}
#footer .col-sm-offset-1{margin-left: 0px;}
#footer .col-sm-2, #footer .col-sm-10{width: 100%;}
}


#introvideo{width: 100%; max-width: 500px;}
#home-middle{}
#home-part-1{padding: 50px 40px 40px 40px; height: 710px;}
#home-part-1-wrapper{max-width: 1000px;margin: 0px auto;}
    #home-video{max-width: 725px; max-height: 410px; width: 100%; height: 100%; background-color: red;}
    #home-start{display: inline-block; vertical-align: top; padding: 15px 10px 15px 10px; max-width: 245px;}
    #home-signup-disclaimer{text-align: center; font-size: 10pt; margin: 40px 0px; display: none;}
    #home-signup-withemail{text-decoration: none; display:none;}
    #homeStartButton {display: none;}
    #homeStartButton:checked + label{display: none;}
    #homeStartButton:checked ~ #home-signup-withemail{display: block;}
    #homeStartButton:checked ~ #home-signup-disclaimer{display: block;}

#home-part-2{background-color: rgb(249,249,251); padding: 50px 20px 40px 20px; text-align: center; border-bottom: 1px solid rgb(211,213,212);}
    #home-dream, #home-make, #home-boost{width: 305px; height: 360px; display: inline-block; vertical-align: top;}

    .hexagon{background-color: none; display: inline-block;}
    .hexagon-left{float: left;border-right: 60px solid rgb(241,75,35); border-top: 104px solid transparent; border-bottom: 104px solid transparent;}
    .hexagon-middle{float: left; width: 100px; height: 208px; background-color: rgb(241,75,35);}
    .hexagon-right{float: left;border-left: 60px solid rgb(241,75,35); border-top: 104px solid transparent; border-bottom: 104px solid transparent;}
    .hexagon:hover .hexagon-left{border-right: 60px solid black;}
    .hexagon:hover .hexagon-middle{background-color: black;}
    .hexagon:hover .hexagon-right{border-left: 60px solid black;}
    .home-textunderhex{width: 145px; margin: 0 auto; font-size: 10px; height: 75px;}

#home-part-3{max-width: 900px; margin: 35px auto;}
#home-part-3 table{width: 100%;}
#home-part-3 td{width: 50%;}
#home-popular{}
#home-see_all{text-align: right;}
#home-projects{text-align: center;}
.home-project{width: 205px; height: 340px; border: 1px solid rgb(149,149,149); border-radius: 15px; margin: 10px; display: inline-block; vertical-align: top;}
.home-project:first-child{margin-left:0px;}
.home-project:last-child{margin-right:0px;}
.home-project img{height: 130px; width: 100%; border-top-left-radius: 14px; border-top-right-radius: 14px;}
.home-project-text{padding: 15px; text-align: left; font-size: 10px;}
.home-project-builds, .home-project-shoutouts{max-width: 60px; display: inline-block; padding: 5px;}
.home-project-number{font-weight: bold;}

#donate-middle{padding: 35px 20px 90px 20px; text-align: center}
#donate-message{display: inline-block; vertical-align: top; max-width: 650px; background-color: white; padding: 20px; margin-right: 15px; text-align: left; margin-bottom: 30px;}
#donate-pay{display: inline-block; vertical-align: top; max-width: 315px; background-color: white;padding: 20px; margin-left: 15px; text-align: left;}

#project-middle{background-color: rgb(245,245,245); padding: 0px 30px 30px 30px;}
#project-left{max-width: 600px; border: 2px solid rgb(85,164,241); padding: 35px 30px 15px 30px; text-align: left; border-radius: 5px; background-color: white; display: inline-block; vertical-align: left; margin-bottom: 20px; width: 100%;}
#project-left-left{width: 48%; display: inline-block; vertical-align: top;}
#project-left-right{width: 48%; display: inline-block; vertical-align: top; text-align: center;}
#project-left-bottom{text-align: center;}
.project-image{width: 100%;}
.project-image-caption{font-size: 10pt;}
#project-right{display: inline-block; vertical-align: top; padding: 0px 30px 30px 30px; margin-bottom: 20px;}
#project-right > div{background-color: white; border: 1px solid rgb(230,230,230); padding: 0px 20px 20px 20px; margin-bottom: 20px;}
.star{font-size: 16pt; color: #F55B29;}
.starFilled{}
.starUnfilled{}

#edit-proj{}
.imageBlock{display: inline-block; vertical-align: top; width: 250px; height: 250px; border: 1px solid black; margin: 5px;}
.imageImgWrapper img{width: 250px; height: 150px;}

#profile-middle-top-left, #profile-middle-top-right{height: 100%; display: inline-block; vertical-align: top;}
#profile-pic{height: 100px; width: auto;}
#profile-name{font-weight: bold; font-size: 16pt;}
#profile-middle-top-right{max-width: 600px; font-size: 10pt;}

#search-middle{padding: 20px;}

#search-projects{padding: 30px;}
.search-project{height: 250px; width: 300px; border-radius: 10px; display: inline-block; vertical-align: top; margin: 10px; text-align: left}
a:hover .search-project{border-color: green;}
.search-project-GeoDream{border: 2px solid #8F0AD7;}
.search-project-GeoRecipe{border: 2px solid #0A90D7;}
.search-project-GeoBoost{border: 2px solid #0AD786;}
.search-project-middle-GeoDream{background-color: #8F0AD7;}
.search-project-middle-GeoRecipe{background-color: #0A90D7;}
.search-project-middle-GeoBoost{background-color: #0AD786;}
.search-project-image {height: 100px; width: 100%; z-index: -1;}
.search-project-top{padding: 2px;}
.search-project-image-owner{width: 40px; height: 40px; border-radius: 50px; border:2px solid white; display: inline-block; position: absolute;}
.search-project-abstract{overflow-y: hidden; height: 80px; padding: 5px;}
.search-project-title{vertical-align: middle; font-size: 10pt; color: white; text-shadow: 1px 1px 0 #000; display: inline-block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%; padding-left: 50px; padding-top: 12px;}
.search-project-author{font-size: 10pt;  color: #D9D9DE; text-shadow: 1px 1px 0 #000;}
.search-project-datetime{display: none;}
.cardContainer .photo{position: absolute;}
#search-show input{display: none;}
#search-show label{padding: 2px; border-radius: 5px; cursor: pointer; margin: 5px;}
#search-show label[for=show-GeoDreams]{border-color: #8F0AD7; border: 2px solid #8F0AD7;}
#search-show input:checked + label[for=show-GeoDreams]{background-color: #8F0AD7; color: white;}
#search-show label[for=show-GeoRecipes]{border-color: #8F0AD7; border: 2px solid #0A90D7;}
#search-show input:checked + label[for=show-GeoRecipes]{background-color: #0A90D7; color: white;}
#search-show label[for=show-GeoBoosts]{border-color: #8F0AD7; border: 2px solid #0AD78C;}
#search-show input:checked + label[for=show-GeoBoosts]{background-color: #0AD78C; color: white;}
#search-sort_by input{display: none;}
#search-sort_by input:checked + label{background-color: green; color: white; border: 2px solid green}
#search-sort_by label{padding: 2px; border-radius: 5px; cursor: pointer; margin: 5px; border: 2px solid red;}
.searchCard{margin: 0; padding: 0; list-style: none;}
.cardContainer .photo img{height: 111px; width: 273px; position: relative}
.cardContainer .price .row img{height: 40px; width: 40px;}
.cardContainer .options li.search-project-abstract{text-overflow: ellipsis;  color: #979797; font-size: 10pt; font-weight: 400; white-space: nowrap; overflow: hidden;}
.search-project-middle{height: 50px; width: 100%; padding: 5px; box-shadow: inset 0px 0px 1px 1px #888;}
#search-results{text-align: center; min-height: 300px;}


.submit-header{font-size: 18pt; color: white; margin-bottom: 10px;}
#contribute-middle{background-color: #8F0AD7; padding: 30px;}
.submit-panel{padding: 30px; background-color: white; border-radius: 10px; border: 2px solid rgb(204,204,204);}
.submit-part{margin: 20px;}
.submit-part label{vertical-align:top; display: block;}
.submit-panel-left{max-width: 700px;}
.submit-panel input, .submit-panel textarea, .submit-panel select{width: 100%;}
#submit-image-img{width: 100px; height: 100px; border: 1px solid #8F0AD7; border-radius: 10px;}


h1{color: rgb(241,75,35); font-size: 25px; text-align: left;}
h2{color: rgb(120,120,120); font-size: 15px; text-align: left;}
h3{color: rgb(120,120,120); font-size: 20px; text-align: left;}

.button1{max-width: 180px; background-color: rgb(242,90,41); padding: 15px; border-radius: 10px; color: rgb(254,254,254); cursor: pointer; box-shadow: 1px 1px 1px #888888;}
.button2{max-width: 120px; background-color: rgb(242,90,41); padding: 10px 15px 15px 15px; border-radius: 10px; color: rgb(254,254,254); cursor: pointer; box-shadow: 1px 1px 1px #888888; height: 40px;font-size: 15px; margin: 0 auto;}

.bg-purple{background-color: #8F0AD7;}
.bg-blue{background-color: #0A90D7;}
.bg-green{background-color: #0AD786;}

#register-middle{padding: 30px;}
.register-part{width: 100%; margin: 30px 0;}
.register-part label{width: 100%;}
.register-part input, .register-part textarea {width: 100%; max-width: 500px;}

#login-middle{padding: 30px;}
.login-part{width: 100%; margin: 30px 0;}
.login-part label{width: 100%;}
.login-part input{width: 100%; max-width: 500px;}

#community-middle{padding: 30px;}
#resources-middle{padding: 30px;}
#makerspaces-middle{padding: 30px;}
.makerspace-name{font-weight: bold; width: 100%;}
.makerspaces-state-input{display: none;}
.makerspaces-state{font-weight: bold; font-size: 20pt; width: 100%; background-color: #8F0AD7; color: whitesmoke; padding: 5px; box-shadow: 2px 2px 2px 2px black;}
.makerspaces-in-state{padding: 5px;}
@media (max-width: 900px) {
    .makerspaces-state{cursor: pointer;}
    input.makerspaces-state-input + .makerspaces-in-state{display:none;}
    input.makerspaces-state-input:checked + .makerspaces-in-state{display: block;}
}
